### scipy-notebook
#jupyterlab==2.1.*
beautifulsoup4==4.8.*
#bokeh==2.0.0
cython==0.29.*
ipywidgets==7.5.*
matplotlib==3.1.*
pandas==1.0.*
patsy==0.5.*
scikit-learn==0.21.*
#scipy==1.3.*
seaborn==0.9.*
sqlalchemy==1.3.*
statsmodels==0.10.*
#dash==1.13.4
#plotly==4.8.*
numpy==1.19.*
protobuf==3.12.*
#vincent==0.4.*
xlrd==1.2.*
xlwt==1.3.0
reportlab==3.5.32
#opencv-python==4.2.*
#python-language-server[all]==0.34.*
#jupyter-lsp==0.8.*
#black==19.10b0
#jupyterlab-code-formatter==1.3.1
# deep learning frameworks
#torch
#torchvision
#fastai
#tensorflow
#keras